---
import { Icon } from "astro-icon/components";
import { getAbsoluteLocaleUrl } from "astro:i18n";

import { Page, Lang, getNextLang, EMAIL } from "../shared";
import { getPageLabel, useTranslations } from '../i18n';

import ThemeController from "../components/theme-controller.astro";

interface Props {
  currentPage: Page;
}

const { currentPage } = Astro.props;
const lang = Astro.currentLocale as Lang;
const nextLang = getNextLang(lang);
const t = useTranslations(lang);
---

<div class="drawer drawer-end bg-base-100 lg:drawer-open">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div class="navbar">
      <div class="navbar-start"></div>
      <div class="navbar-center">
        <span class="text-lg font-bold lg:hidden"
          >{t(getPageLabel(currentPage))}</span
        >
      </div>
      <div class="navbar-end">
        <label
          for="my-drawer"
          aria-label="open sidebar"
          class="btn btn-square btn-ghost lg:hidden"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block w-6 h-6 stroke-current"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path></svg
          >
        </label>
      </div>
    </div>
    <!-- Page content here -->
    <slot />
  </div>
  <div class="drawer-side">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"
    ></label>
    <aside
      class="p-2 h-auto min-h-full bg-base-200 text-base-content flex flex-col w-[18rem]"
    >
      <div class="w-fit mx-auto my-6 hidden lg:block">
        <div class="avatar transition ease-in-out m-auto">
          <div class="w-[9rem] rounded-full bg-base-300">
            <img src="/profile-tp2.png" loading="lazy" decoding="async" />
          </div>
        </div>
      </div>
      <ul class="menu grow shrink menu-md overflow-y-auto">
        {
          Object.values(Page).map((page) => (
            <li>
              <a
                class="text-base data-[active]:bg-base-300 py-3"
                href={getAbsoluteLocaleUrl(lang, page)}
                data-active={page === currentPage}
              >
                {t(getPageLabel(page))}
              </a>
            </li>
          ))
        }
      </ul>
      <div class="p-4 flex self-center justify-evenly items-center w-full">
        <a target="_blank" href={`mailto:${EMAIL}`} >
          <Icon size={24} name="lucide:mail" />
        </a>
        <a target="_blank" href="https://github.com/x0k">
          <Icon size={24} name="simple-icons:github" />
        </a>
        <ThemeController transition:persist />
        <a href={getAbsoluteLocaleUrl(nextLang, currentPage)}>
          {lang.toLocaleUpperCase()}
        </a>
      </div>
    </aside>
  </div>
</div>
