---
import { Icon } from 'astro-icon/components';

interface Props<T extends string> {
  icons: Record<T, string>;
  titles: Record<T, string>;
  items: T[];
}

const { items, icons, titles } = Astro.props;
---
<div class="flex flex-wrap gap-2 pb-4">
  {
    items.map((item: string) => (
      <div class="badge gap-2">
        <Icon name={icons[item]} />
        {titles[item]}
      </div>
    ))
  }
</div>