---
import { Icon } from "astro-icon/components";
---

<button
  class="btn btn-circle btn-ghost stroke-current"
  onclick="window.print()"
>
  <Icon class="size-6" name="lucide:printer" />
</button>
