---
import { getYearsSinceDate } from "../../lib/date";
import { Page, BIRTHDAY, EMAIL } from "../../shared";

import Layout from "../../layouts/landing.astro";

const currentPage = Page.Resume;
---

<Layout currentPage={currentPage}>
  <p class="text-5xl font-bold">Красильников Роман Борисович</p>

  <p class="text-3xl text-opacity-50 text-base-content py-3 font-bold">
    Опыт работы
  </p>
  <ul class="timeline-compact timeline timeline-snap-icon timeline-vertical">
    <li>
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5"
          ><path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"></path></svg
        >
      </div>
      <div class="timeline-end mb-10">
        <time class="font-mono italic">1984</time>
        <div class="text-lg font-black">First Macintosh computer</div>
        The Apple Macintosh—later rebranded as the Macintosh 128K—is the original
        Apple Macintosh personal computer. It played a pivotal role in establishing
        desktop publishing as a general office function. The motherboard, a 9 in
        (23 cm) CRT monitor, and a floppy drive were housed in a beige case with
        integrated carrying handle; it came with a keyboard and single-button mouse.
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5"
          ><path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"></path></svg
        >
      </div>
      <div class="timeline-end mb-10">
        <time class="font-mono italic">1998</time>
        <div class="text-lg font-black">iMac</div>
        iMac is a family of all-in-one Mac desktop computers designed and built by
        Apple Inc. It has been the primary part of Apple's consumer desktop offerings
        since its debut in August 1998, and has evolved through seven distinct forms
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5"
          ><path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"></path></svg
        >
      </div>
      <div class="timeline-end mb-10">
        <time class="font-mono italic">2001</time>
        <div class="text-lg font-black">iPod</div>
        The iPod is a discontinued series of portable media players and multi-purpose
        mobile devices designed and marketed by Apple Inc. The first version was
        released on October 23, 2001, about 8+1⁄2 months after the Macintosh version
        of iTunes was released. Apple sold an estimated 450 million iPod products
        as of 2022. Apple discontinued the iPod product line on May 10, 2022. At
        over 20 years, the iPod brand is the oldest to be discontinued by Apple
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5"
          ><path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"></path></svg
        >
      </div>
      <div class="timeline-end mb-10">
        <time class="font-mono italic">2007</time>
        <div class="text-lg font-black">iPhone</div>
        iPhone is a line of smartphones produced by Apple Inc. that use Apple's own
        iOS mobile operating system. The first-generation iPhone was announced by
        then-Apple CEO Steve Jobs on January 9, 2007. Since then, Apple has annually
        released new iPhone models and iOS updates. As of November 1, 2018, more
        than 2.2 billion iPhones had been sold. As of 2022, the iPhone accounts for
        15.6% of global smartphone market share
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5"
          ><path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"></path></svg
        >
      </div>
      <div class="timeline-end mb-10">
        <time class="font-mono italic">2015</time>
        <div class="text-lg font-black">Apple Watch</div>
        The Apple Watch is a line of smartwatches produced by Apple Inc. It incorporates
        fitness tracking, health-oriented capabilities, and wireless telecommunication,
        and integrates with iOS and other Apple products and services
      </div>
    </li>
  </ul>

  <!-- <div class="divider"></div> -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div>
      <p class="text-3xl text-opacity-50 text-base-content py-3 font-bold">
        Общая информация
      </p>
      <p>Возраст: {getYearsSinceDate(BIRTHDAY)}</p>
      <p>
        Эл. почта: <a class="link" target="_blank" href={`mailto:${EMAIL}`}
          >{EMAIL}</a
        >
      </p>
      <p>
        GitHub: <a class="link" target="_blank" href="https://github.com/x0k"
          >x0k</a
        >
      </p>
    </div>
    <div>
      <p class="text-3xl text-opacity-50 text-base-content py-3 font-bold">
        Образование
      </p>
      <p>Высшее</p>
      <p>
        Наименование учебного заведения: Сыктывкарский государственный
        университет имени Питирима Сорокина (2019)
      </p>
      <p>Факультет: Институт точных наук и информационных технологий</p>
      <p>Направление: Прикладная информатика (бакалавриат)</p>
    </div>
  </div>
  <p class="text-3xl text-opacity-50 text-base-content py-3 font-bold">
    О себе
  </p>
  <p>
    08.2020 - 04.2018: ГАУ РК “Центр информационных технологий”, должность
    главного специалиста консультанта отдела разработки и адаптации
    информационных систем. Проекты и ответственность:
  </p>
  <p>АИС “МФЦ”, СООЗ - поддержка проектов на Rect15;</p>
  <p>
    Разработка внутренних приложений - Удостоверяющий центр, Управление заявками
    в системе case-core. Использовался React16;
  </p>
  <p>
    Развитие аналитической системы для мониторинга СМИ. Quasar Framework +
    сервис интеграции через БД - NestJS.
  </p>
  <p>
    MVP Реестра выданных разрешений Министерства промышленности РК - Angular9 +
    NestJS
  </p>
</Layout>
