---
import { getCollection } from "astro:content";

import Layout from "../../layouts/landing.astro";
import { Page } from "../../shared";
import Project from "../../containers/project.astro";

const currentPage = Page.Projects;
const projects = await getCollection("projects");
---

<Layout currentPage={currentPage}>
  <h1
    class="max-lg:hidden text-5xl text-opacity-50 text-base-content font-bold"
  >
    Проекты
  </h1>
  <div class="flex flex-col gap-12 pt-12">
    {
      projects
        .sort((a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime())
        .map((project) => <Project project={project} />)
    }
  </div>
</Layout>
