---
import { Page } from '@/shared';

import Content from "@/components/content.astro";
import Layout from "@/containers/root.astro";
import Drawer from "@/containers/drawer/drawer.astro";

interface Props {
  currentPage: Page;
}

const { currentPage } = Astro.props
---
<Layout currentPage={currentPage}>
  <Drawer currentPage={currentPage}>
    <Content>
      <div class="flex flex-col gap-20 print:gap-6 mb-20">
        <slot />
      </div>
    </Content>
  </Drawer>
</Layout>
